/*Colores, tamaños de fuente, sombras y espaciados. 
No debe tener selectores de clases */

:root {
  /* Espaciado */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;

  /* Colores (Tema Claro por defecto) */
  --color-primary: #2d9cdb;
  --color-secondary: #f8f9fa;
  --color-accent: #f2994a;
  --color-background: #f8f9fa;
  --color-text: #333333;
  
  /* Tipografías */
    --font-titles: 'Quicksand', sans-serif;
    --font-body: 'Inter', sans-serif;

    /* Sombras */
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    /*Radio bor4des*/
    --radius: 50px;
  

}
